.ls{
    background: #001030;
    color: white;
    height: 75vh;
}
.ls-top{
    padding: 20px;
}
.ls-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ls-nav .logo{
    max-width: 140px;

}
.ls-nav .menu{
    position: relative;
    padding: 10px 0px;
}
.menu .sub-menu{
    position: absolute;
    top: 100%;
    right: 0;
    width: 120px;
    padding: 20px;
    border-radius: 5px;
    color: black;
    background-color: white;
    display: none;
}
.sub-menu hr{
    border: none;
    height: 1px;
    background-color: #a4a4a4;
    margin: 8px 0px;
}
.sub-menu p{
    font-size: 14px;
    cursor: pointer;
}
.menu:hover .sub-menu{
    display: block;
}
.ls-nav .menu img{
    max-height: 20px;
    opacity: 0.6;
    cursor: pointer;
}
.ls-search{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
    background-color: #002670;
}
.ls-search img{
    width: 16px;
}
.ls-search input{
    background-color: transparent;
    border: none;
    outline:none;
    color: white;
    font-size: 11px;
}
.ls-search input::placeholder{
    color: #c8c8c8;
}
.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}
.friends{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}
.friends img{
    width: 35px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.friends div{
    display: flex;
    flex-direction: column;
}
.friends span{
    color: #9f9f9f9f;
    font-size: 11px;
}
.friends:hover{
    background-color: #077EFF;
}
.friends:hover span{
    color: white;
}
.no-chat {
  text-align: center;
  color: gray;
  padding: 10px;
  font-size: 0.9rem;
}
