.profile{
    background-image: url(/public/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.profile-container{
    background-color: white;
    min-width: 700px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-pic{
    max-width: 160px;
    aspect-ratio: 1/1;
    margin: 20px auto;
    border-radius: 50%;
}
.profile form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}
.profile h3{
    font-weight: 500;
}
.profile label{
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
    cursor: pointer;
}
.profile label img{
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.profile input,textarea{
    padding: 10px;
    min-width: 300px;
    border: 1px solid #c9c9c9;
    outline-color: #077eff;
}
.profile form button{
    border: none;
    padding: 8px;
    background: #077eff;
    font-size: 16px;
    cursor: pointer;
    color: white;

}
.loading-text {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 10px;
}
