.chat-box {
  display: flex;
  flex-direction: column;
  height:100vh;
  overflow: hidden;
  background: #f1f5ff;
}

/* HEADER */
.chat-user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  background: #f1f5ff;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.dot{
  width: 36px;
   border-radius: 50%;
}
.help {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.back-arrow,
.help {
  cursor: pointer;
  font-size: 22px;
}

.help {
  margin-left: auto;
}

/* MESSAGES */
.chat-msg {
  flex: 1;               /* take remaining space */
  overflow-y: auto;      /* enable scrolling */
  overflow-x: hidden;    /* no horizontal scroll */
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* MESSAGE WRAPPER */
.s-msg,
.r-msg {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

/* Sender → RIGHT */
.s-msg {
  align-items: flex-end;
}

/* Receiver → LEFT */
.r-msg {
  align-items: flex-start;
}

/* BUBBLE */
.bubble {
  max-width: 75%;
  padding: 8px 12px;
  border-radius: 12px;
  word-wrap: break-word;
}

/* Sender bubble */
.s-msg .bubble {
  background: #077eff;
  color: #fff;
  border-radius: 12px 12px 0 12px;
}

/* Receiver bubble */
.r-msg .bubble {
  background: #fff;
  color: #000;
  border-radius: 12px 12px 12px 0;
}

/* MESSAGE IMAGE */
.msg-image {
  max-width: 240px;
  border-radius: 10px;
  margin-bottom: 6px;
}

/* META */
.meta {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  margin-top: 2px;
}

.meta img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

/* Sender meta aligns right */
.s-msg .meta {
  flex-direction: row-reverse;
}

/* INPUT */
.chat-input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background: #fff;
  border-top: 1px solid #ccc;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-input img {
  width: 32px;
  cursor: pointer;
}

.image-preview {
  padding: 10px 15px;
  background: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.image-preview p {
  font-size: 13px;
  margin: 0;
}

.preview-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.remove-preview {
  position: absolute;
  top: 470px;
  right: 760px;
  background: gray;
  color: white;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}   

/* MOBILE FIX */
@media (max-width: 768px) {
  .chat-input {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .chat-input input{
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .chat-input input[type="text"] {
    font-size: 16px;
  }
  .chat-input img {
  width: 28px;
  cursor: pointer;
}

  .chat-msg {
    padding-bottom: 70px;
  }
}
